<div *ngIf="service.isLogged()"> <table><tr><p class ="text"> Bienvenu sur le salon sur les vélos : les modèles, les vitesses..</p></tr><tr><img src="../assets/velo.png" width=25%></tr></table>
    <app-message-list-velo></app-message-list-velo></div>
    <button ng-model="button" ng-disabled="checked"  id="coolbutton">inscrivez vous!</button>.
     <!--  <input name="passWordVelos"   
  type ="text" [(ngModel)]="passWordVelos" (keyup.enter)="send()"/>
  </div>


   <div class="list" *  service.PassWordVelos()" >{{userl}}</div>
  
  chekcPassWordVelos (passWordVelos: string)  


 -->
<div>
</div>

